$defPX: 16px
$defEM: 1.0em
$defPC: 100%
$defPT: 12pt

@function n-un($num, $destination: em)
	$origin: unit($num)
	$defTYPE: $defPX
	@if $origin == em
		$defTYPE: $defEM
	@else if $origin == "%"
		$defTYPE: $defPC
	@else if $origin == pt
		$defTYPE: $defPT
	@if $destination == em
		@return ($num / $defTYPE) * $defEM
	@else if $destination == pt
		@return ($num / $defTYPE) * $defPT
	@else if $destination == pc
		@return ($num / $defTYPE) * $defPC
	@else if $destination == px
		@return ($num / $defTYPE) * $defPX

body
	color: black
	font-size: n-un(16px) 
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif 
	
h1,h2,h3,h4,.hd-t
	font-family:  'MS Serif', 'New York', sans-serif