$defPX: 16px
$defEM: 1.0em
$defPC: 100%
$defPT: 12pt

$color-blue: #3399CC

@function n-un($num, $destination: em)
	$origin: unit($num)
	$defTYPE: $defPX
	@if $origin == em
		$defTYPE: $defEM
	@else if $origin == "%"
		$defTYPE: $defPC
	@else if $origin == pt
		$defTYPE: $defPT
	@if $destination == em
		@return ($num / $defTYPE) * $defEM
	@else if $destination == pt
		@return ($num / $defTYPE) * $defPT
	@else if $destination == pc or $destination == "%"
		@return ($num / $defTYPE) * $defPC
	@else if $destination == px
		@return ($num / $defTYPE) * $defPX

@function gemicon($size, $row, $num)
	@return "gemicons/#{$size}x#{$size}/row #{$row}/#{$num}.png"

@mixin gemicon-make($size, $row, $num)
	width: #{$size}px
	height: #{$size}px
	background: left top url(gemicon($size, $row, $num)) no-repeat

body
	color: black
	font-size: n-un(16px, "%") 
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif 
	
h1,h2,h3,h4,.hd-t
	font-family:  'MS Serif', 'New York', sans-serif

a
	color: $color-blue
	&:hover
		color: darken($color-blue, 30%)

#main-side
	width: 75%
	margin: 0 auto
	
	.maintitle
		margin-top: 30px 
		font-size: n-un(34px, "%")

	#articles
		margin-top: 50px 