- @images = "css/gemicons/16x16/"
doctype html
html
	head
		meta charset="UTF-8"
		title Qom

		link rel="stylesheet" href="css/style.css"
	body
		#main-side
			img.userpic src="userpic.png"/
			h1.maintitle Hello, Qom!
			p.about
			 | How are you doing today?

			#articles
				.article
					h3.rtclttl 
						a href="#" Qom — best theme ever
					span.timeinfo 5 january, midnight
					p.rtclmsg
						| Hi there! <a href="#2">Hello!</a>